#canvasBlock {
    position: relative;
}

#canvasTools {
    /*position: absolute;
    top: 0px;
    right: -20px;*/
    float: left;
}

#canvasTools > button {
    margin-bottom: 5px;
}

canvas {
    border: 3px solid #C7C7C7;
    cursor: crosshair;
}

#gallery {

}

.picture {
    float: left;
    width: 150px;
    height: 150px;
    border: 3px solid #E8E8E8;
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
}

.picture span {
    position: absolute;
    top: 2px;
    left: 2px;
}